@import "../../../../styles/variables.scss";

.card {
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  &:hover,
  &:active,
  &:focus {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .front,
  .back {
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  .back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 12px 14px;
    background: #0f4cea;
    color: $text-light;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

    .link_wrapper {
      padding: 12px 14px 22px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
    }

    .title {
      font-family: "IBM Plex Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 62px;
      text-transform: uppercase;
    }
    .content {
      & li {
        text-transform: uppercase;
        font-family: "IBM Plex Mono";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

//------MEDIA------

@media (max-width: 1440px) {
  .card {
    .back {
      .title {
        font-size: 28px;
        line-height: 40px;
      }
      .content {
        & li {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .card {
    .back {
      .title {
        font-size: 16px;
        line-height: 20px;
      }
      .content {
        & li {
          font-size: 9px;
          line-height: 13px;
        }
      }
    }
  }
}
