@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Mulish&family=Open+Sans:wght@600&display=swap");

*,
h1,
h2,
h3,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  position: relative;
  padding: 60px 0 359px;
  min-height: 100vh;
}

button {
  outline: none;
  cursor: pointer;
  &:focus {
    opacity: 0.6;
  }
}

.container {
  max-width: 1322px;
  margin: 0 auto;
}

.link,
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-position: inside;
}

ul {
  list-style-type: none;
}

.burger_active {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

//--------- MEDIA ---------

@media (max-width: 997px) {
}

@media (max-width: 768px) {
}

@media (max-width: 420px) {
  .container {
    max-width: 346px;
  }
}
