$text-light: #fff;
$text-dark: #000;
$header: #161414;

$text-shadow: 0 0 10px #1858fb, 0 0 20px #1858fb, 0 0 30px #1858fb,
  0 0 40px #1858fb;
$box-shadow: 0 0 2px #1858fb, 0 0 5px #1858fb, 0 0 10px #1858fb,
  0 0 20px #1858fb;
