$text-light: #fff;
$text-dark: #000;
$header: #161414;
$placeholder: #a9a9a9;
$base-blue: #0047ff;
$text-blue: #1858fb;
$projects_text: #181818;

$text-shadow: 0 0 10px $text-blue, 0 0 20px $text-blue, 0 0 30px $text-blue,
  0 0 40px $text-blue;
$box-shadow: 0 0 2px $text-blue, 0 0 5px $text-blue, 0 0 10px $text-blue,
  0 0 20px $text-blue;
