@import "../../styles/variables.scss";

.main {
  padding-top: 90px;

  .title_container {
    max-width: 1368px;
    margin: 0 auto 260px;
  }

  .title {
    z-index: -1;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 285px;
    line-height: 202px;
    text-transform: uppercase;
    color: $text-dark;
    position: relative;
    text-align: center;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1322px;
      border-bottom: 1px solid $text-dark;
      bottom: -35px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .wrapper_slogan {
    position: relative;

    .slogan {
      font-family: "IBM Plex Mono";
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      max-width: 40%;

      opacity: 1;
      margin-bottom: 300px;
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-name: slideText;
      animation-fill-mode: forwards;

      &_text {
        font-size: 40px;
        line-height: 48px;
        color: $text-dark;
        margin-bottom: 18px;

        .arrow {
          position: relative;
          &::after {
            content: url("../../assets/svg/slogan_arrow.svg");
            position: absolute;
            line-height: 0;
            top: calc(50% + 1px);
            left: calc(100% + 3px);
            transform: translateY(-50%);
          }
        }
        .star {
          position: relative;
          &::after {
            content: url("../../assets/svg/slogan_star.svg");
            position: absolute;
            line-height: 0;
            top: 3px;
            left: calc(100% + 3px);
            transform: translateY(50%);
          }
        }
      }

      &_desc {
        font-size: 21px;
        line-height: 27px;
        color: #999999;
      }
    }
    .rings_wrapper {
      & span,
      .rings {
        width: 100%;
      }
      width: 800px;
      position: absolute;
      top: 50px;
      transform: translateY(-50%);
      right: -35px;
      z-index: -1;
    }
  }
}

.activity {
  margin-bottom: 100px;

  &_title {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 69px;
    line-height: 76px;
    text-transform: uppercase;
    color: $text-dark;
    margin-bottom: 27px;
  }

  &_desc {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: $text-dark;
    margin-bottom: 38px;
  }

  &_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .create_title,
    .develop_title,
    .reality_title {
      font-family: "IBM Plex Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 39px;
      line-height: 48px;
      color: $text-dark;
    }

    .top {
      font-size: 47px;
      position: relative;

      &::after {
        content: "";
        background: url("../../assets/svg/arrow-black.svg");
        position: absolute;
        transform: translateY(50%);
        right: -40px;
        top: 2px;
        width: 25px;
        height: 25px;
      }
    }
    .bottom {
      font-size: 24px;
    }

    .develop_button,
    .reality_button {
      border-radius: 1000px;
      background: inherit;
      text-transform: inherit;
      font-family: "IBM Plex Mono";
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      text-transform: uppercase;
      color: $text-dark;
      text-align: left;
      border: 0px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        transition: transform 0.3s ease;

        .top {
          &::after {
            content: "";
            background: url("../../assets/svg/arrow-black_hover.svg");
          }
        }
      }
      &:focus {
        opacity: 0.6;
      }
    }

    .create {
      max-width: 300px;
      &_title {
        margin-bottom: 35px;
      }
      &_list {
        li {
          position: relative;
          padding-left: 20px;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 26px;
          line-height: 41px;

          color: #000000;
          &::before {
            content: "";
            position: absolute;
            list-style-type: disc;
            display: list-item;
            width: 1px;
            top: 0;
            left: 0;
          }
        }
      }
    }

    .buttons_wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .develop {
        margin-right: 94px;
        &_title {
          margin-bottom: 44px;
        }
        &_button {
          padding: 81px 22px;
          position: relative;

          &::before {
            content: "";
            z-index: -1;
            background: url("../../assets/svg/circle_button.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 227px;
            height: 227px;
            transition: background-image 0.3s, color 0.3s;
          }

          &:hover {
            color: $text-light;
            &::before {
              transition: background-image 0.3s, color 0.3s;
              background-image: url("../../assets/svg/circle_button_hover.svg");
            }
          }
        }
      }
      .reality {
        &_title {
          margin-bottom: 17px;
        }
        &_button {
          padding: 112px 75px 91px 58px;
          position: relative;
          &::before {
            content: "";
            background-image: url("../../assets/svg/star_button.svg");
            position: absolute;
            z-index: -1;
            top: 50%;
            left: calc(50% + 10px);
            transform: translate(-50%, -50%);
            width: 261px;
            height: 268px;
            transition: background-image 0.3s, color 0.3s;
          }

          &:hover {
            color: $text-light;
            &::before {
              transition: background-image 0.3s, color 0.3s;
              background-image: url("../../assets/svg/star_button_hover.svg");
            }
          }
        }
      }
    }
  }
}

.pairs {
  border-bottom: 1px solid #000;
  margin-bottom: 102px;
  padding-bottom: 100px;

  &_title,
  &_content {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    color: $text-dark;
  }

  &_title {
    margin-bottom: 50px;
    font-size: 69px;
    text-transform: uppercase;
  }
  &_content {
    font-size: 45px;

    & img {
      margin-right: 10px;
    }
  }
}

.projects {
  margin-bottom: 65px;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .button_more {
    z-index: 100;
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    padding: 18px 20px;
    background: $header;
    text-transform: uppercase;
    border-radius: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      box-shadow: $box-shadow;
      transform: translateY(-3px);
      transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
  }

  &_title {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 79px;
    text-transform: uppercase;
    color: $text-dark;
  }
}

@keyframes slideText {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

//--------- MEDIA ---------

@media (max-width: 1400px) {
  .main {
    padding-top: 50px;

    .title_container {
      max-width: 768px;
      margin: 0 auto 120px;
    }

    .title {
      font-size: 162px;
      line-height: 170px;

      &::after {
        width: 768px;
        bottom: -20px;
      }
    }

    .wrapper_slogan {
      .slogan {
        margin-bottom: 120px;

        &_text {
          font-size: 27px;
          line-height: 40px;
          margin-bottom: 18px;
        }

        &_desc {
          font-size: 18px;
          line-height: 23px;
        }
      }
      .rings_wrapper {
        width: 470px;
        position: absolute;
        top: 30px;
        right: -15px;
      }
    }
  }

  .projects {
    .button_more {
      font-size: 20px;
      border-radius: 40px;
    }

    &_title {
      font-size: 50px;
      line-height: 40px;
    }
  }

  .activity {
    margin-bottom: 70px;

    &_title {
      font-size: 50px;
      line-height: 40px;
    }

    &_desc {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 33px;
    }

    &_wrapper {
      .create_title,
      .develop_title,
      .reality_title {
        font-size: 22px;
        line-height: 40px;
      }

      .top {
        font-size: 40px;
        &::after {
          right: -30px;
        }
      }
      .bottom {
        font-size: 20px;
      }

      .create {
        &_title {
          margin-bottom: 30px;
        }
        &_list {
          li {
            padding-left: 15px;
            font-size: 22px;
            line-height: 36px;
          }
        }
      }

      .buttons_wrapper {
        .develop {
          margin-right: 60px;
          &_title {
            margin-bottom: 40px;
          }
        }
        .reality {
          width: min-content;
          &_title {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .pairs {
    margin-bottom: 80px;
    padding-bottom: 80px;

    &_title,
    &_content {
      line-height: 40px;
    }

    &_title {
      margin-bottom: 50px;
      font-size: 50px;
    }
    &_content {
      font-size: 38px;

      & img {
        margin-right: 5px;
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media (max-width: 770px) {
  .main {
    padding-top: 10px;

    .title_container {
      max-width: 355px;
      margin: 0 auto 0px;
    }

    .title {
      font-size: 74px;
      line-height: 80px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        bottom: -9px;
      }
    }

    .wrapper_slogan {
      padding-top: 300px;
      .slogan {
        max-width: 100%;
        margin-bottom: 50px;
        &_text {
          font-size: 23px;
          line-height: 32px;
          margin-bottom: 5px;

          .arrow {
            &::after {
              content: url("../../assets/svg/mobile/arrow.svg");
            }
          }
          .star {
            &::after {
              content: url("../../assets/svg/mobile/star.svg");
            }
          }
        }

        &_desc {
          font-size: 14px;
        }
      }

      .rings_wrapper {
        width: 350px;
        top: 0px;
        right: unset;
        transform: unset;
      }
    }
  }

  .projects {
    margin-bottom: 35px;
    &_wrapper {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .projects_title{
        line-height: 50px;
        margin-bottom: 20px;
      }
    }

    .button_more {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0px;
      color: #ffffff;
      padding: 9px 10px;
    }

    &_title {
      font-size: 38px;
      line-height: 79px;
      margin-bottom: 0px;
    }
  }

  .activity {
    margin-bottom: 161px;

    &_title {
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 17px;
    }

    &_desc {
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 47px;
    }

    &_wrapper {
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
      width: min-content;

      .create_title,
      .develop_title,
      .reality_title {
        font-size: 26px;
      }

      .top {
        font-size: 33px;

        &::after {
          background: url("../../assets/svg/mobile/arrow-white.svg") no-repeat;
          transform: translateY(50%);
          right: -20px;
          top: 0px;
          width: 18px;
          height: 18px;
        }
      }
      .bottom {
        font-size: 20px;
      }

      .develop_button,
      .reality_button {
        color: $text-light;
        transition: none;
        border-radius: 100px;

        &:hover {
          .top {
            &::after {
              content: "";
              background: url("../../assets/svg/mobile/arrow-white.svg  ");
            }
          }
        }
      }

      .create {
        margin-bottom: 49px;

        &_title {
          margin-bottom: 2px;
        }
        &_list {
          li {
            white-space: nowrap;
            padding-left: 15px;
            font-size: 18px;
            line-height: 29px;
          }
        }
      }

      .buttons_wrapper {
        position: relative;
        .develop {
          width: 150px;
          margin-right: 0px;
          &_title {
            margin-bottom: 10px;
          }
          &_button {
            padding: 40px 0 40px 40px;

            &::before {
              content: "";
              background: url("../../assets/svg/mobile/circle_button_hover.svg");
              top: 0;
              left: 0;
              transform: none;
              transition: none;
              width: 174px;
              height: 174px;
            }

            &:hover {
              &::before {
                background-image: url("../../assets/svg/mobile/circle_button_hover.svg");
              }
            }
          }
        }
        .reality {
          position: absolute;
          bottom: -40px;
          left: 150px;
          display: flex;
          align-items: center;
          flex-direction: column-reverse;
          &_title {
            position: absolute;
            bottom: -60px;
            right: -60px;
            white-space: nowrap;
            margin-bottom: 0px;
            margin-top: 20px;
          }
          &_button {
            padding: 80px 0 40px 55px;

            &::before {
              content: "";
              background-image: url("../../assets/svg/mobile/star_button_hover.svg");
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              transform: none;
              transition: none;
              width: 199px;
              height: 204px;
            }

            &:hover {
              &::before {
                background-image: url("../../assets/svg/mobile/star_button_hover.svg");
              }
            }
          }
        }
      }
    }
  }

  .pairs {
    border-bottom: none;
    margin-bottom: 53px;
    padding-bottom: 0;

    &_title {
      margin-bottom: 5px;
      font-size: 38px;
      line-height: 79px;
    }
    &_content {
      font-size: 25px;
      line-height: 38px;

      & img {
        width: 20px;
        height: 20px;
        margin-right: 1px;
      }
    }
  }
  @keyframes slideText {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
