@import "../../styles/variables.scss";

.projects_page{
  margin-top: 50px;
  margin-bottom: 20px;
}

.title {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 79px;
  text-transform: uppercase;
  color: $text-dark;
  margin-bottom: 60px;
}
