@import "styles/variables.scss";

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  gap: 2px;
}

//--------- MEDIA ---------

@media (max-width: 770px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
