@import "../../../../styles/variables.scss";

.projects {
  margin-bottom: 65px;
  
  &_title {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 79px;
    text-transform: uppercase;
    color: $text-dark;
    margin-bottom: 60px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    gap: 2px;
  }
}
