@import "../../styles/variables.scss";

.contact {
  &_wrapper {
    position: relative;
    padding-bottom: 102px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .content {
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-name: slideContent;
      animation-fill-mode: forwards;
      max-width: 545px;
      height: 443px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .title_wrapper {
        color: $text-dark;
        .title {
          font-family: "IBM Plex Mono";
          font-weight: 400;
          font-size: 69px;
          line-height: 48px;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        .desc {
          font-family: "Mulish";
          font-weight: 400;
          font-size: 26px;
          line-height: 31px;
          max-width: 300px;
        }
      }

      .button_wrapper {
        .button {
          font-family: "IBM Plex Mono";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          color: #ffffff;
          text-transform: uppercase;
          padding: 18px 206px;
          background: $header;
          border-radius: 20px;
          margin-bottom: 25px;
          transition: box-shadow 0.3s ease, transform 0.3s ease;
          border: none;

          &:hover {
            box-shadow: $box-shadow;
            transform: translateY(-3px);
            transition: box-shadow 0.3s ease, transform 0.3s ease;
          }
        }
        .label {
          display: block;
          font-family: "Mulish";
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          color: $text-dark;
        }
      }
    }

    .form {
      width: 702px;
      .input_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 20px;

        .bracket {
          width: 100%;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: -8px;
            background: url("../../assets/svg/bracket.svg");
            width: 18px;
            height: 46px;
          }
        }

        & input {
          width: 100%;
          padding: 0 0 3px 20px;
          border-top: none;
          border-right: none;
          border-left: none;
          border-bottom: 2px solid #efefef;
          background: transparent;
          outline: none;
          color: $text-dark;
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 32px;
          text-overflow: ellipsis;
          margin-bottom: 30px;

          &::placeholder {
            color: $placeholder;
            opacity: 1;
            transition: opacity 0.3s ease;
          }
          &:focus {
            &::placeholder {
              opacity: 0;
            }
          }
        }
      }

      & textarea {
        padding: 17px 80px 0px 20px;
        resize: none;
        width: 100%;
        height: 225px;
        overflow: auto;
        text-align: left;
        background: inherit;
        outline: none;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        color: $text-dark;
        border: 2px solid #efefef;
        border-radius: 15px;
        scrollbar-color: $header transparent;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          background: transparent;
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: $header;
        }

        &::placeholder {
          color: #969696;
          opacity: 1;
          transition: opacity 0.3s ease;
        }
        &:focus {
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }

    input {
      &:invalid:not(:placeholder-shown) {
        border-color: red;
      }
    }
  }
}

.submit {
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-name: slideContent;
  animation-fill-mode: forwards;
  text-align: center;
  margin: 0 auto;

  &_title {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 28px;
    text-transform: uppercase;
    color: $projects-text;
    margin-bottom: 40px;
  }
  &_label {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: $projects-text;
  }

  &_button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    position: absolute;
    top: -30%;
    right: 30px;

    &::after {
      content: "";
      display: block;
      background-image: url("../../assets/svg/close.svg");
      width: 30px;
      height: 30px;
    }
  }
}

@keyframes slideContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//--------- MEDIA ---------

@media (max-width: 1400px) {
  .contact {
    &_wrapper {
      padding-bottom: 30px;
      .content {
        max-width: 50%;
        height: 400px;

        .title_wrapper {
          .title {
            font-size: 50px;
            line-height: 40px;
            margin-bottom: 20px;
          }
          .desc {
            font-size: 20px;
            max-width: 230px;
          }
        }

        .button_wrapper {
          .button {
            font-size: 19px;
            line-height: 22px;
            padding: 18px 100px;
            margin-bottom: 20px;
          }
          .label {
            font-size: 18px;
            line-height: 23px;
          }
        }
      }

      .form {
        width: auto;
        .input_wrapper {
          margin-bottom: 15px;
        }

        & textarea {
          padding: 16px 60px 0px 10px;
          height: 200px;
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .contact {
    &_wrapper {
      position: relative;
      padding-bottom: 228px;
      flex-direction: column;

      .content {
        max-width: 100%;
        height: auto;

        .title_wrapper {
          .title {
            font-size: 38px;
            line-height: 79px;
            margin-bottom: 2px;
          }
          .desc {
            font-size: 17px;
            line-height: 24px;
            max-width: 100%;
            margin-bottom: 33px;
          }
        }

        .button_wrapper {
          position: absolute;
          bottom: 45px;
          left: 0;
          .button {
            font-size: 20px;
            padding: 18px 118px;
            margin-bottom: 24px;
          }
          .label {
            font-size: 15px;
            line-height: 22px;
          }
        }
      }

      .form {
        width: 100%;
        .input_wrapper {
          margin-bottom: 20px;

          & input {
            padding: 0 0 3px 24px;
            font-size: 18px;
            margin-bottom: 27px;
          }
        }

        & textarea {
          padding: 11px 33px 0px 14px;
          height: 137px;
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
  .submit {
    &_title {
      font-size: 35px;
      line-height: 58px;
    }

    &_button {
      top: 0;
      right: 0;
    }
  }
}
