@import "styles/variables.scss";

.details {
  padding: 0 !important;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: $projects_text;
  padding-bottom: 40px !important;
}

.accordion {
  box-shadow: none !important;
  background-color: transparent !important;
  border-bottom: 1px solid $placeholder !important;  
  &:last-child {
    border-bottom: none !important;
  }

  &::before {
    display: none;
  }
}

.summary {
  cursor: none !important;

  padding: 0 !important;
  border: none !important;
}

.title {
  padding: 16px 0;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 32px;
  text-transform: uppercase;
  color: $projects_text;
  transition: color 0.3s;
  width: 100%;
  &:hover {
    color: $text-blue;
    transition: color 0.3s;
  }
}

//--------- MEDIA ---------

@media (max-width: 1400px) {
  .title {
    font-size: 33px;
  }
}

@media (max-width: 770px) {
  .title {
    font-size: 26px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 4px;
  }
  .details {
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 0px !important;
    margin-bottom: 15px;
  }
  .accordion {
    border-bottom: none !important;
  }
  .summary > div{
    margin: 0 !important;
  }
}
