.movable {
  width: 25px;
  height: 25px;
  background: #77b6ff;
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 999999;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

@media (max-width: 770px) {
  .movable {
    display: none;
  }
}
