@import "../../styles/variables.scss";

.burger_menu {
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-name: slideBurger;
  animation-fill-mode: forwards;
  padding-bottom: 10px;
  & .wrapper {
    display: block;
    padding: 16px 0;
  }
  & .burger_nft,
  .burger_publicart,
  .burger_pushkeen,
  .burger_merch {
    margin-bottom: 20px;
    position: relative;
    width: min-content;
    &::after {
      content: "";
      position: absolute;
      right: -5px;
      transform: translate(100%, -50%);
      top: 50%;
      width: 11px;
      height: 11px;
      background: url("../../assets/svg/arrow.svg");
    }
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background: $header;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: $text-light;
  text-transform: uppercase;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.links_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & a {
    margin-right: 44px;
  }

  & li {
    position: relative;
    transition: text-shadow 0.3s ease;
    padding-right: 20px;

    &:hover {
      text-shadow: $text-shadow;
      transition: text-shadow 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      transform: translate(100%, -50%);
      top: 55%;
      width: 11px;
      height: 11px;
      background: url("../../assets/svg/arrow.svg");
    }
  }
}

.wrapper_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .contacts_list {
    display: flex;
    align-items: center;
    margin-right: 67px;

    .phone {
      margin-right: 36px;
    }

    .phone,
    .email {
      transition: text-shadow 0.3s ease;
      &:hover {
        text-shadow: $text-shadow;
        transition: text-shadow 0.3s ease;
      }
    }
  }
}

.ru,
.en {
  color: inherit;
  background: inherit;
  text-transform: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  transition: text-shadow 0.3s ease;

  &:hover {
    text-shadow: $text-shadow;
    transition: text-shadow 0.3s ease;
  }
  &:focus {
    opacity: 0.7;
  }
}

.lang_active {
  opacity: 0.7;
}

.burger,
.burger * {
  display: none;
}

.burger_list {
  display: none;
}

.burger_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

@keyframes slideBurger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//--------- MEDIA ---------

@media (max-width: 770px) {
  .burger * {
    display: block;
  }

  .burger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger_button {
    transition: transform 0.3s ease;
    transform-origin: 16px 11px;
    outline: 0;
    border: 0;
    background: none;
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  .links,
  .wrapper_right {
    display: none;
  }
}

@media (max-width: 1400px) {
  .header {
    font-size: 12px;
    line-height: 28px;
  }

  .links_list {
    & a {
      margin-right: 40px;
    }
  }

  .wrapper_right {
    .contacts_list {
      margin-right: 50px;

      .phone {
        margin-right: 26px;
      }
    }
  }
}
